button {
    font-size: large;
}

/* .logout {
    background-color: red;
    font-weight: 600;
    padding: 8px;
    border: 1px solid pink;
    border-radius: 3px;
    transition: all 0.5s;
} */

/* .logout:hover {
    background-color: aqua;
} */